/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* basic */
body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* layout */
.header {
  background-color: black;
  color: white;
  padding: 40px 0px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* componet */
.btn {
  padding: 12px 24px;
  border-radius: 32px;
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-dark {
  background-color: black;
  color: white;
}
/* page */
.banner {
  background-color: black;
  color: white;
}
.banner-title {
  display: block;
  text-align: right;
}
.intro {
  padding: 160px 0px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-content {
  width: 526px;
}
.about {
  padding: 160px 0;
}
.about-list {
  width: 636px;
  flex-wrap: wrap;
}
.about-list li {
  width: calc(50% - 12px);
  border: 1px solid #e3e3e3;
  padding: 16px;
  box-shadow: 4px 4px 4px 0px #00000014;
}
.about-me {
  width: 526px;
}
.contact {
  padding: 96px 0;
  color: white;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact-content {
  width: 657px;
}
.contact-icons {
  width: 526px;
}
.icon-link {
  border-radius: 40px;
  transition: 0.1s;
}
.icon-link:hover {
  box-shadow: 0px 0px 16px 3px #9094ffe5;
}
.project {
  padding: 160px 0;
}
.projet-h2 {
  width: 746px;
  margin-left: auto;
}
.left {
  width: 416px;
}
.footer {
  padding: 40px 0;
  background-color: black;
  color: white;
}
/* common */
.container {
  width: 1296px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.jcsb {
  justify-content: space-between;
}
.h1 {
  font-size: 128px;
}
.h2 {
  font-size: 64px;
}
.fz-01 {
  font-size: 32px;
}
.fz-02 {
  font-size: 24px;
}
.fz-03 {
  font-size: 20px;
}
.text-primary {
  color: #00ffa3;
}
.jcfe {
  justify-content: flex-end;
}
.aic {
  align-items: center;
}
.ais {
  align-items: start;
}
.text-align-center {
  text-align: center;
}
.mr-24 {
  margin-right: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-32 {
  margin-bottom: 32px;
}
.flex-dc {
  flex-direction: column;
}
.mb-36 {
  margin-bottom: 36px;
}
